.modal-title {
  text-align: center;
  margin-bottom: 20px;
}

.expense-form {
  display: flex;
  flex-direction: column;
  gap: 12px; // Reducido de 16px a 12px para ser más uniforme
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px; // Ajustado para coincidir con el gap del form
}

.form-row mat-form-field {
  flex: 1;
  min-width: 200px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

@media (max-width: 600px) {
  :host,
  :host ::ng-deep .mat-dialog-content,
  :host ::ng-deep mat-dialog-content,
  :host > div,
  .expense-form {
    max-height: 100vh !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 0 8px !important;
    background: #fff !important;
    box-sizing: border-box;
    overflow-y: auto !important;
  }

  .modal-title {
    border-radius: 0 !important;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .expense-form {
    gap: 8px;
  }

  .form-row {
    gap: 8px;

    &.installments-row {
      flex-wrap: nowrap;

      mat-form-field {
        min-width: unset;
        width: 50%;
      }
    }
  }

  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 12px;
  }
}

.custom-button {
  margin: 0;
}
