<h2 mat-dialog-title>Nueva Tarjeta</h2>
<form [formGroup]="cardForm" (ngSubmit)="save()">
  <mat-dialog-content class="dialog-content">
    <!-- Nombre de la tarjeta -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombreTarjeta" required>
      </mat-form-field>
    </div>

    <!-- Número de tarjeta -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Últimos 4 dígitos de la Tarjeta</mat-label>
        <input matInput formControlName="numeroTarjeta" maxlength="4" required pattern="\d{4}">
      </mat-form-field>
    </div>

    <!-- Banco -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Banco</mat-label>
        <mat-select formControlName="bancoId" required>
          <mat-option *ngFor="let banco of bancos" [value]="banco.id">
            {{ banco.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Límite de Crédito -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Límite de Crédito</mat-label>
        <input matInput formControlName="limiteCredito" currencyMask
          [options]="{ prefix: '$ ', thousands: ',', decimal: '.', align: 'left', allowNegative: false }" required>
      </mat-form-field>
    </div>

    <!-- Día de Cierre -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Día de Cierre</mat-label>
        <input matInput formControlName="cierreCiclo" type="date">
      </mat-form-field>
    </div>

    <!-- Día de Vencimiento -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Día de Vencimiento</mat-label>
        <input matInput formControlName="fechaVencimiento" type="date">
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" class="custom-button-cancelar"
      (click)="dialogRef.close()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit" class="custom-button"
      [disabled]="cardForm.invalid">Guardar</button>
  </mat-dialog-actions>
</form>
