<mat-accordion class="expansion-grid" multi="true">
  <mat-expansion-panel *ngFor="let card of cardDetails">
    <mat-expansion-panel-header>
      <div class="header-content">
        <mat-panel-title>
          {{ card.CreditCard }}
        </mat-panel-title>
        <a (click)="$event.stopPropagation(); onDetailsClick(card)"  class="details-link">Ver Detalles</a>
      </div>
    </mat-expansion-panel-header>

    

    <div class="summary-grid">
      <mat-table [dataSource]="getCardExpenses(card)">
        <ng-container matColumnDef="month">
          <mat-header-cell *matHeaderCellDef>Mes</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.month }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="total">
          <mat-header-cell *matHeaderCellDef>Total del Mes</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.amount | currency }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['month', 'total']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['month', 'total'];"></mat-row>
      </mat-table>
    </div>

    <div class="total-footer">
      <span>Total: </span>
      <strong>{{ card.Total | currency }}</strong>
    </div>
  </mat-expansion-panel>
</mat-accordion>
