mat-expansion-panel {
  margin-bottom: 16px;
  border-radius: 10px;
  box-shadow: 0 1px 6px #0001;
  background: #fff;
  transition: box-shadow 0.2s;
}

mat-expansion-panel:hover {
  box-shadow: 0 4px 16px #0002;
}

.total {
  margin-top: 8px;
  font-weight: bold;
}

.total-footer {
  margin-top: 20px;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  background: #f5fafd;
  border-radius: 6px;
  padding: 8px 16px;
}

.expansion-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-expansion-panel {
  width: 100%;
  align-self: flex-start;
}

.details-link {
  display: block;
  margin-top: 0px;
  color: #3b8386;
  font-size: 10px;
  text-decoration: none;
  font-weight: normal;
  transition: color 0.3s ease-in-out;
}

.details-link:hover {
  color: #1976d2;
  cursor: pointer;
}

.mat-expansion-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 800px) {
  .expansion-grid {
    gap: 8px;
    grid-template-columns: 1fr;
  }
  .cell-text {
    font-size: 0.7rem;
  }
}
