<form [formGroup]="formularioFiltros" class="filter-form">
    <div class="filter-row" *ngIf="tipoGrafico !== 'line'">
        <mat-checkbox formControlName="anioTotal" class="anio-checkbox">
            Año Completo
        </mat-checkbox>
    </div>
    <div class="filter-grid">
        <mat-form-field appearance="fill">
            <mat-label>Año</mat-label>
            <input matInput type="number" formControlName="anio" min="2000" max="2100">
        </mat-form-field>
        <mat-form-field *ngIf="tipoGrafico !== 'line'" appearance="fill">
            <mat-label>Mes</mat-label>
            <mat-select formControlName="mes" [disabled]="formularioFiltros.value.anioTotal">
                <mat-option *ngFor="let m of meses" [value]="m.value">{{ m.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="tipoGrafico !== 'doughnut' && tipoGrafico !== 'bar'" appearance="fill">
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="categoria" multiple>
                <mat-option *ngFor="let cat of categorias" [value]="cat.id">{{ cat.nombre }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>

<div class="chart-container" *ngIf="graficosPermitidos[0] === 'doughnut'">
    <canvas baseChart [data]="datosGrafico" [type]="'doughnut'" [options]="opcionesGrafico"></canvas>
</div>

<div *ngIf="graficosPermitidos[0] === 'bar'" class="chart-container">
    <canvas baseChart [data]="datosGraficoBarra" [type]="'bar'" [options]="opcionesGraficoBarra"></canvas>
</div>

<div *ngIf="graficosPermitidos[0] === 'line'" class="chart-container">
    <canvas baseChart [data]="datosGraficoLinea" [type]="'line'" [options]="opcionesGraficoLinea"></canvas>
</div>
