// Botones
.mat-raised-button {
    &.mat-primary {
    //  background-color: var(--primary-color);
      color: white;
      padding: 12px 24px;
      border-radius: 25px;
      transition: all 0.3s ease;
      
      &:hover {
        background-color: darken($primary-color, 10%);
        transform: translateY(-2px);
      }
    }
  }
  
  // Campos de formulario
  .mat-form-field {
    width: 100%;
    margin-bottom: 1.5rem;
    
    .mat-icon {
      color: rgba(0, 0, 0, 0.54);
      margin-right: 8px;
    }
  }
  
  // Enlaces
  .accent-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    
    &:hover {
      color: darken($primary-color, 15%);
      text-decoration: underline;
    }
  }
  
  // Títulos
  h2 {
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
  }