.grid-container {
  width: 100%;
  margin-top: 20px;
  padding: 16px;
  overflow-x: auto;
}

.table-scroll-x {
  width: 100%;
  overflow-x: auto;
  max-width: 100vw;
}

.acciones-btn-group {
  display: flex;
  /*   align-items: center;
  justify-content: center;
  gap: 6px; */
}

.icon-action-btn {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  transition: background 0.15s, box-shadow 0.15s;
  box-shadow: none;
  background: transparent;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 20px;
    color: #333;
    transition: color 0.15s;
  }
}

.icon-action-btn.edit-btn:hover {
  background: #e3f2fd;
  mat-icon {
    color: #1976d2;
  }
}

.icon-action-btn.delete-btn:hover {
  background: #ffebee;
  mat-icon {
    color: #d32f2f;
  }
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
  .header {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }
}
@media (max-width: 900px) {
  .mat-elevation-z8 {
    min-width: 600px;
  }
  .grid-container {
    min-width: 340px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
