<form [formGroup]="filterForm" class="filter-form">
    <div class="filter-row">
        <mat-checkbox formControlName="anioTotal" class="anio-checkbox">
            Año Completo
        </mat-checkbox>
    </div>
    <div class="filter-row">
        <mat-form-field>
            <mat-label>Año</mat-label>
            <input matInput type="number" formControlName="anio" min="2000" max="2100">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Mes</mat-label>
            <mat-select formControlName="mes" [disabled]="filterForm.value.anioTotal">
                <mat-option *ngFor="let m of months" [value]="m.value">{{ m.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Categoría</mat-label>
            <mat-select formControlName="categoria" multiple>
                <mat-option *ngFor="let cat of categorias" [value]="cat.id">{{ cat.nombre }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>


<div *ngIf="allowedCharts[0] === 'doughnut'">
    <canvas baseChart [data]="chartData" [type]="'doughnut'" [options]="chartOptions"></canvas>
</div>

<div *ngIf="allowedCharts[0] === 'bar'">
    <canvas baseChart [data]="barChartData" [type]="'bar'" [options]="barChartOptions"></canvas>
</div>

<div *ngIf="allowedCharts[0] === 'line'">
    <canvas baseChart [data]="lineChartData" [type]="'line'" [options]="lineChartOptions"></canvas>
</div>
