<h1 class="page-title">Tarjetas de Crédito</h1>

<div class="header desktop-buttons">
  <button mat-raised-button color="primary" class="custom-button" (click)="openCardDialog('create')">
    <mat-icon>add</mat-icon>
    Nueva Tarjeta
  </button>
  <button mat-raised-button color="accent" class="custom-button-info" (click)="openCardDialog('edit')">
    <mat-icon>edit</mat-icon>
    Editar Tarjeta
  </button>
  <button mat-raised-button color="warn" class="custom-button-cancelar" (click)="openCardDialog('delete')">
    <mat-icon>delete</mat-icon>
    Eliminar Tarjeta
  </button>
</div>

<div class="year-selector">
  <mat-label>Selecciona el Año:</mat-label>
  <mat-select [(value)]="selectedYear" (selectionChange)="onYearChange($event)">
    <mat-option *ngFor="let year of availableYears" [value]="year">
      {{ year }}
    </mat-option>
  </mat-select>
</div>
<div class="action-buttons mobile-buttons">
  <button mat-mini-fab class="custom-button" matTooltip="Nueva Tarjeta" (click)="openCardDialog('create')">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-mini-fab class="custom-button-info" matTooltip="Editar Tarjeta" (click)="openCardDialog('edit')">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-mini-fab class="custom-button-cancelar" matTooltip="Eliminar Tarjeta" (click)="openCardDialog('delete')">
    <mat-icon>delete</mat-icon>
  </button>
</div>



<div class="credit-cards-container">
  <div class="summary-card-modern">
    <div class="summary-header-modern" (click)="toggleGeneralSummary()" [class.collapsed]="!showGeneralSummary">
      <mat-icon>{{ showGeneralSummary ? 'expand_less' : 'expand_more' }}</mat-icon>
      <span class="summary-title">Resumen General Anual (todas las tarjetas)</span>
    </div>
    <div *ngIf="showGeneralSummary && annualGeneralSummary">
      <app-credit-card-summary [generalSummary]="annualGeneralSummary"></app-credit-card-summary>
    </div>
  </div>

  <div class="cards-grid">
    <ng-container *ngFor="let card of cardMonthlyDetails; let i = index">
      <mat-card class="card-item" [ngStyle]="{'background': getCardColor(i)}">
        <div class="card-header">
          <div class="card-title-row" matTooltip="Ver detalle" matTooltipPosition="before"
            (click)="onDetailsClick(card)">
            <mat-icon class="card-info-icon">info</mat-icon>
            <span class="card-title clickable">{{ getCardName(card) }}</span>
            <span class="bank-name" *ngIf="card.banco">- {{ card.banco }}</span>
          </div>
        </div>
        <div class="card-table">
          <table>
            <tr>
              <th>Mes</th>
              <th>Gasto Actual</th>
              <th>Monto Cuotas</th>
              <th>Total Mes</th>
            </tr>
            <tr *ngFor="let row of getCardExpenses(card)">
              <td>{{ row.month }}</td>
              <td>{{ row.gastoActual | customCurrency:0 }}</td>
              <td>{{ row.montoCuotas | customCurrency:0 }}</td>
              <td>{{ row.totalMes | customCurrency:0 }}</td>
            </tr>
          </table>
        </div>
        <div class="total-footer colored-total">
          <span>Total: </span>
          <strong>{{ getTotal(card) | customCurrency:0 }}</strong>
        </div>
      </mat-card>
    </ng-container>
  </div>
</div>
