.summary-section{
    margin-bottom: 20px;
}

button{
    margin-bottom: 30px;;
}

.year-selector {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  
  mat-select {
    width: 200px;
    margin-left: 10px;
  }
  
  mat-label {
    font-weight: bold;
  }
  button {
    white-space: nowrap; /* Evita que el texto del botón se corte */
    background-color: #3B8386 !important;
    color: #F5F5F6 !important;
  }