<mat-dialog-content>
  <h2 class="modal-title">Nuevo Gasto</h2>
  <form [formGroup]="formularioGasto" (ngSubmit)="onSubmit()" class="expense-form">
    <div class="form-row">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Monto</mat-label>
        <input matInput formControlName="monto" currencyMask
          [options]="{ prefix: '$ ', thousands: ',', decimal: '.', align: 'left', allowNegative: false }" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha" [value]="fechaHoy" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="descripcion" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="categoriaGastoId" required>
          <mat-option *ngFor="let cat of categorias" [value]="cat.id">{{ cat.nombre }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Tarjeta de Crédito</mat-label>
        <mat-select formControlName="tarjetaCreditoId">
          <mat-option [value]="''">Ninguna</mat-option>
          <mat-option *ngFor="let card of tarjetas" [value]="card.id">{{ card.nombreTarjeta || card.nombre
            }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>¿Es en cuotas?</mat-label>
        <mat-select formControlName="esEnCuotas">
          <mat-option [value]="true">Sí</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Número de cuotas</mat-label>
        <input matInput formControlName="numeroCuotas" type="number">
      </mat-form-field>
    </div>
    <div class="modal-actions">
      <button mat-raised-button color="primary" class="custom-button-cancelar" type="button"
        (click)="onClose()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" class="custom-button"
        [disabled]="formularioGasto.invalid">Guardar</button>
    </div>
  </form>
</mat-dialog-content>
